html,
body {
  background-color: papayawhip;
  font-family: sans-serif;
  height:100%;
  margin:0;
  padding:0;

  h1 {
    color: tomato;
  }
}

.App{
  height:100%;
}

.content_tmp{
  margin-top:60px;
  text-align:center;
}